.venv/

.vscode/

.idea/

.dart_tool/
.packages
.pub-cache/
build/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

.flutter-*
.metadata

analysis_options.yaml

.DS_Store
*.swp
*.lock
*.iml

android/.gradle
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/Flutter/Generated.xcconfig
web/.dart_tool/

.gradle/
gradle-*/
*.log

windows/flutter/
windows/runner/Debug/
windows/runner/Profile/
windows/runner/Release/

linux/flutter/
linux/runner/Debug/
linux/runner/Profile/
linux/runner/Release/

*.lock
*.tmp
*.temp
*.bak
*.orig

*.apk
*.ipa
*.app